<div class="card bg-glass">
  <div class="card-body px-4 py-5 px-md-5">
    <form action="/login" method="POST">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row">
        
        {{#if (messages.error) }}
          <div class="alert alert-danger">
            <strong>{{messages.error}}</strong>
          </div>
        {{/if}}

         

        <h1 class="mb-3 h3">Login</h1>
        
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" name="email" id="form3Example3" class="form-control" />
        <label class="form-label" for="form3Example3">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" name="password" id="form3Example4" class="form-control" />
        <label class="form-label" for="form3Example4">Password</label>
      </div>


      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Sign In
      </button>  
    </form>
  </div>
</div>